<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ebor.mapper.TestSysUserMapper">
  <resultMap id="BaseResultMap" type="com.example.ebor.model.TestSysUser">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="login_no" jdbcType="VARCHAR" property="loginNo" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_amount" jdbcType="DECIMAL" property="userAmount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, login_no, user_name, user_amount, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test_sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test_sys_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.ebor.model.TestSysUser">
    insert into test_sys_user (user_id, login_no, user_name, 
      user_amount, create_time)
    values (#{userId,jdbcType=BIGINT}, #{loginNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.ebor.model.TestSysUser">
    insert into test_sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="loginNo != null">
        login_no,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userAmount != null">
        user_amount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="loginNo != null">
        #{loginNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAmount != null">
        #{userAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.ebor.model.TestSysUser">
    update test_sys_user
    <set>
      <if test="loginNo != null">
        login_no = #{loginNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userAmount != null">
        user_amount = #{userAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.ebor.model.TestSysUser">
    update test_sys_user
    set login_no = #{loginNo,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_amount = #{userAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>